<%= render '/shared/navbar' %>
<div class="container-all">
  <div class="head-list-donors">
    <h1>Bonjour <%= current_user.first_name %> !</h1>
    <h2>Voici la liste de l'ensemble des donateurs</h2>
  </div>
  <div class="list-donors">
    <ul>
      <% @donors.each do |donor| %>
        <%= link_to donor_path(donor) do %>
          <li class="list-infos-donors">
            <p class="list-first-item"><%= donor.first_name%></p>
            <p class="list-second-item"><%= donor.last_name%></p>
            <p class="list-third-item"><%= donor.donations.size%></p>
            <p class="list-fourth-item"><%= donor.donations.size%></p>
            <p class="list-fifth-item"><%= donor.donations.size%></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
