<div class="wrapper-dashboard">
  <div class="dashboard-data-set" data-line="second-donors-view">
    <%= render partial: 'shared/dashboard' %>
  </div>
  <div class="dashboard-right">
    <div class="head-list-donors">
      <h1>Bonjour <%= current_user.first_name %> !</h1>
      <h2>Voici la liste de l'ensemble des donateurs</h2>
    </div>
    <div class="list-donors">
      <ul>
        <li class="list-header-donors">
          <span class="list-infos"><p>Prénom</p></span>
          <span class="list-infos"><p>Nom</p></span>
          <span class="list-infos"><p>N° donations</p></span>
          <span class="list-infos"><p>Montant Global</p></span>
        </li>
        <% @donors.each do |donor| %>
          <%= link_to donor_path(donor) do %>
            <li class="list-infos-donors">
              <span class="list-infos"><p><%= donor.first_name%></p></span>
              <span class="list-infos"><p><%= donor.last_name%></p></span>
              <span class="list-infos"><p><%= donor.donations.size%></p></span>
              <span class="list-infos"><p><%= sum_donations(donor).round%>€</p></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
