<div class="wrapper-dashboard">
  <div class="dashboard-data-set" data-line="second-donors-view">
    <%= render partial: 'shared/dashboard' %>
  </div>
  <div class="dashboard-right">
    <div class="donor-show-container">
      <div class="card-donor donor-donations">
        <ul>
          <li class="donations-name donations-name-header">
            <span class="donations">Montant</span>
            <span class="donations">Date</span>
            <span class="donations">Reçu Fiscal</span>
          </li>
          <% @donor.donations.each do |donation| %>
            <li class="donations-name">
              <span class="donations"><%= donation.amount %>€</span>
              <span class="donations"><%= donation.date.day %> <%= I18n.t("date.month_names")[donation.date.month].capitalize%> <%= donation.date.year %></span>
              <% if donation.fiscal_recip == true %>
                <span class="donations fiscal-recip-status">Envoyé€</span>
              <% else %>
              <!-- Will need to add a simple_form_for to add a method update and automaticaly send a recip -->
                <%= link_to 'J\'envoie', '#', class: 'donations fiscal-recip-status' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="card-donor donor-informations">
        <ul>
          <li class="informations-name"> <%= @donor.first_name %> <%= @donor.last_name %> </li>
          <li class="informations"> Email : <%= @donor.email %></li>
          <li class="informations">Montant dons : <%= @donor.status %>€</li>
          <li class="informations">Nombre dons : <%= @donor.donations.count %></li>
          <li class="informations">Montant dons : <%= sum_donations(@donor).round %>€</li>
        </ul>
      </div>
    </div>
  </div>
</div>
