<div class="wrapper-dashboard">
  <div class="dashboard-data-set" data-line="third-donors-view">
    <%= render partial: 'shared/dashboard' %>
  </div>
  <div class="dashboard-right">
    <div class="dashboard-datas">
      <div class="dashboard-datas-left">
        <h2> Bonjour <%= current_user.first_name %>,</h2>
        <h4 class="mt-5">Tu vas retrouver l'ensemble des dons qui ont été fait pour ton association</h4>
      </div>
      <div class="dashboard-datas-right">
        <h5>Informations globales</h5>
        <p>Montant total dons : <strong><%= @global_donation.round %>€</strong></p>
        <p>Nombre de donateurs : <strong><%=  @donations.count %></strong></p>
        <p>Nombre de dons : <strong><%= @donors.count %></strong></p>
      </div>
    </div>
    <div class="list-donations">
      <ul>
        <li class="list-header-donations">
          <span class="donations">
            <p>Date</p>
          </span>
          <span class="donations">
            <p>Plateforme</p>
          </span>
          <span class="donations">
            <p>Montant</p>
          </span>
          <span class="donations">
            <p>Donateur</p>
          </span>
        </li>
        <% @donations.each do |donation| %>
          <%= link_to donor_path(donation.donor) do %>
            <li class="list-infos-donations">
              <span class="donations">
                <p><%= donation.date%></p>
              </span>
              <span class="donations">
                <p><%= donation.platform%></p>
              </span>
              <span class="donations">
                <p><%= donation.amount%>€</p>
              </span>
              <span class="donations">
                <p><%= donation.donor.first_name%> <%= donation.donor.last_name%></p>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>